/**
 * @file
 * Styling for the Pager Load More module.
 *
 * @see https://www.drupal.org/project/pager_load_more
 */

 [class].pager-load-more__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  width: 100%;
}

/* Gets applied when there are no more items to load. */
.pager-load-more__button--hidden {
  display: none !important;
}

/* Offsets spacing for the icon to ensure text is centered. */
.pager-load-more__button:before {
  content: "";
  display: block;
  width: 1.25rem;
}

.pager-load-more__button-icon {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  border: solid 2px currentColor;
  border-top-color: transparent;
  animation-name: pager-load-more-icon-rotate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  visibility: hidden;
}

.pager-load-more__error-container {
  color: red;
}

@media (forced-colors: active) {
  .pager-load-more__button-icon {
    border-top: 0;
  }
}

.is-loading .pager-load-more__button-icon {
  visibility: visible;
}

/* This only gets applied to the wrapping pager <nav> element, and has a very
   distinctive class name, so people can know where it originates from. */
.is-hidden-by-pager-load-more {
  display: none !important;
}

@keyframes pager-load-more-icon-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
